<div class="container-fluid">
  <div class="row">
    <div class="col-md-3">

      <form id="param" class="form-horizontal">

        <div class="form-group">
          <div class="col-md-12">
            <label class="control-label"><span class="text-danger">*</span>To</label>
          </div>
          <div class="col-md-12">
            <input type="text" name="tos" class="form-control"
              placeholder="recipient1@address.com, recipient2@address.com"
              value="<%= @tos %>" />
          </div>
        </div>

        <div class="form-group">
          <div class="col-md-12">
            <label class="control-label"><span class="text-danger">*</span>From</label>
          </div>
          <div class="col-md-12">
            <input type="text" name="from" class="form-control"
              placeholder="your@address.com"
              value="<%= @from %>">
          </div>
        </div>

        <div class="form-group">
          <div class="col-md-12">
            <label class="control-label"><span class="text-danger">*</span>件名</label>
          </div>
          <div class="col-md-12">
            <input type="text" name="subject" class="form-control"
              placeholder="-name-さんへ　テストメール"
              value="-name-さんへ　テストメール">
          </div>
        </div>

        <div class="form-group">
          <div class="col-md-12">
            <label class="control-label"><span class="text-danger">*</span>本文</label>
          </div>
          <div class="col-md-12">
            <textarea name="body" class="form-control" style="height:100px;"
              placeholder="-name-さんへ　テスト本文">-name-さんへ　テスト本文
&lt;a href="https://sendgrid.com"&gt;センドグリッド&lt;/a&gt;</textarea>
          </div>
        </div>

        <div class="panel-group" id="accordion">
          <div class="panel panel-default">
            <div class="panel-heading">
              <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
                  <i class="glyphicon glyphicon-chevron-right"></i>オプション
                </a>
              </h4>
            </div>
          </div>
          <div id="collapseOne" class="panel-collapse collapse">
            <div class="panel-body">

              <div class="form-group">
                <div class="col-md-12">
                  <label>
                    <input type="checkbox" id="usesub" name="usesub" value="true">Substitution
                  </label>
                </div>
                <div class="col-md-12">
                  <input type="text" id="subkey" name="subkey" class="form-control"
                    placeholder="-name-" value="-name-" disabled="true">
                </div>
                <div class="col-md-12">
                  <input type="text" id="subval" name="subval" class="form-control"
                    placeholder="田中, 鈴木" value="田中, 鈴木" disabled="true">
                </div>
              </div>

              <div class="form-group">
                <div class="col-md-12">
                  <label>
                    <input type="checkbox" id="usebcc" name="usebcc" value="true">Bcc
                  </label>
                </div>
                <div class="col-md-12">
                  <input type="text" id="bcc" name="bcc" class="form-control"
                    placeholder="bcc@address.com" value="<%= @bcc %>" disabled="true">
                </div>
              </div>

              <div class="form-group">
                <div class="col-md-12">
                  <label>
                    <input type="checkbox" id="usecategory" name="usecategory"
                      value="true">Category
                  </label>
                </div>
                <div class="col-md-12">
                  <input type="text" id="category" name="category" class="form-control"
                    placeholder="sendgrid-demo" value="sendgrid-demo" disabled="true">
                </div>
              </div>

              <div class="form-group">
                <div class="col-md-12">
                  <label>
                    <input type="checkbox" id="useuniqueargs" name="useuniqueargs"
                      value="true">Unique Args
                  </label>
                </div>
                <div class="col-md-12">
                  <input type="text" id="uniquekey" name="uniquekey" class="form-control"
                    placeholder="emailtoken" value="emailtoken" disabled="true">
                  <input type="text" id="uniqueval" name="uniqueval" class="form-control"
                    placeholder="20140901123456" value="20140901123456" disabled="true">
                </div>
              </div>

              <div class="form-group">
                <div class="col-md-12">
                  <label>
                    <input type="checkbox" id="useclick" name="useclick" value="true">Click Tracking
                  </label>
                </div>
              </div>

              <div class="form-group">
                <div class="col-md-12">
                  <label>
                    <input type="checkbox" id="useopen" name="useopen" value="true">Open Tracking
                  </label>
                </div>
              </div>

              <div class="form-group">
                <div class="col-md-12">
                  <label>
                    <input type="checkbox" id="usesubscription" name="usesubscription"
                      value="true">Subscription Tracking
                  </label>
                </div>
              </div>

              <div class="form-group">
                <div class="col-md-12">
                  <label>
                    <input type="checkbox" id="usetemplate" name="usetemplate"
                      value="true">Template
                  </label>
                </div>
                <div class="col-md-12">
                  <select class="form-control" id="template" name="template" disabled="true">
                    <option>sendgrid_demo_template_1</option>
                    <option>sendgrid_demo_template_2</option>
                    <option>sendgrid_demo_template_3</option>
                  </select>
                </div>
              </div>

              <div class="form-group">
                <div class="col-md-12">
                  <label>
                    <input type="checkbox" id="usefooter" name="usefooter"
                      value="true">Footer
                  </label>
                </div>
              </div>

              <div class="form-group">
                <div class="col-md-12">
                  <label>
                    <input type="checkbox" id="usesendat" name="usesendat"
                      value="true">Send at(<%= @timezone %>)
                  </label>
                </div>
                <div class="col-md-12">
                  <div class="input-group clockpicker" id="clockpicker">
                    <input type="text" name="sendat" class="form-control sendat" value="<%= @now_time %>" disabled="true">
                    <span class="input-group-addon">
                      <span class="glyphicon glyphicon-time"></span>
                    </span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

      </form>

      <button id="send" class="btn btn-primary center-block">送信</button>

      <div id="result"></div>

    </div>

    <div class="col-md-9">

      <div class="btn-toolbar">
        <div class="btn-group" data-toggle="buttons-radio" style="margin-bottom:15px;">
          <button class="btn btn-default" id="show-table">Table</button>
          <button class="btn btn-default active" id="show-json">JSON</button>
        </div>
      </div>

      <table class="table table-striped table-bordered table-condensed" id="event-table">
        <thead>
          <tr>
            <th><small>timestamp</small></th>
            <th><small>event</small></th>
            <th><small>email</small></th>
            <th><small>smtp-id</small></th>
            <th><small>response</small></th>
            <th><small>sg_event_id</small></th>
            <th><small>sg_message_id</small></th>
            <th><small>useragent</small></th>
            <th><small>ip</small></th>
            <th><small>attempt</small></th>
            <th><small>category</small></th>
            <th><small>url</small></th>
            <th><small>status</small></th>
            <th><small>reason</small></th>
            <th><small>type</small></th>
            <th><small>send_at</small></th>
          </tr>
        </thead>
        <tbody>
        </tbody>
      </table>

      <table class="table table-striped table-bordered table-condensed" id="event-json">
        <thead>
          <tr><th><small>JSON</small></th><tr>
        </thead>
        <tbody>
        </tbody>
      </table>
    </div>

  </div>
</div>

<script src="http://code.jquery.com/jquery.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script src="<%= rocketio_js %>"></script>
<script src="js/bootstrap-clockpicker.min.js"></script>
<script src="js/common.js"></script>
<script src="js/send.js"></script>
